body {
  background-image: url("../../public/images/book-stack-library.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  height: 100vh;
}
