.headerBox {
  background-color: darkslategrey;
  margin: 20px 14px;
  width: 330px;
  padding: 28px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  animation: slide-top 1s;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.headerBox:hover {
  background-color: antiquewhite;
}
.headerBox:hover h2 {
  color: darkslategray;
}
.headerBox:hover p {
  color: darkslategray;
}
.headerBox span {
  color: salmon;
  font-size: 48px;
}

.headerBox h2 {
  margin-left: 20px;
  color: #fff;
}
.headerBox p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
@media screen and (max-width: 600px) {
  .headerBox {
    padding: 10px;
    width: 320px;
  }

  .headerBox span {
    font-size: 36px;
  }
}
