.navbar {
  background-color: antiquewhite;
  width: 80%;
  margin: auto;
  border-radius: 3px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  /* right: 0; */
}
.navItems {
  list-style: none;
  margin: 10px;
}
.navAnchor {
  color: salmon;
  font-weight: 600;
  font-size: 18px;
}
.logoItems {
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.logoItems h2 {
  margin-left: 14px;
}
.penLogo {
  font-size: 40px;
  color: salmon;
  transform: rotate(180deg);
  margin-left: 30px;
}
.navNumber {
  background-color: salmon;
  display: flex;
  align-items: center;
  padding: 36px;
  float: right;
  color: antiquewhite;
  font-weight: 30px;
}
.navNumber p {
  font-size: 20px;
  font-weight: 500;
}
.icon {
  margin-right: 10px;
  font-size: 30px;
  color: antiquewhite;
}
.hamburger {
  display: none;
}
.hamLogo {
  font-size: 22px;
  margin-right: 8px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 90%;
    margin-top: 20px;
    height: 70px;
  }
  .logoItems {
    margin-left: 10px;
  }
  .logoItems h2 {
    margin-left: 8px;
  }
  .penLogo {
    font-size: 22px;
    margin-left: 4px;
  }
  .navList {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    z-index: 10;
  }
  .navbar .active {
    right: 0;
  }
  .navNumber {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
