.navbar {
  position: fixed;
  width: 80%;
  height: 95px;
  background-color: antiquewhite;
  margin-top: 30px;
  border-radius: 3px;
  z-index: 9999;
}
.nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.nav-title .pen-logo {
  color: salmon;
  margin-right: 7px;
}
.nav-menu {
  display: flex;
}
.nav-menu li {
  list-style: none;
}
.nav-menu li a {
  color: salmon;
  font-size: 1rem;
  margin: 10px;
  font-weight: 500;
}

.nav-number {
  background-color: salmon;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 40px;
  color: antiquewhite;
  font-size: 1.1rem;
}
.active {
  display: none;
}
.nav-number .icon {
  color: antiquewhite;
  margin-right: 10px;
  font-size: 1.4rem;
}
.hamburger {
  display: none;
}
.nav-hamburger {
  display: none;
}
@media screen and (max-width: 758px) {
  .navbar {
    height: 55px;
    width: 90%;
  }
  .nav-title {
    margin-left: 10px;
  }
  .nav-menu {
    display: none;
  }
  .nav-hamburger {
    right: -200%;
    top: 50px;
  }

  .nav-hamburger ul {
    margin-top: 50px;
  }
  .nav-hamburger ul li {
    list-style: none;
    text-align: center;
    margin-top: 15px;
  }
  .nav-hamburger ul li a {
    font-size: 1.4rem;
    color: darkslategray;
  }
  .active {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .active ul li {
    list-style: none;
    text-align: center;
    margin-top: 15px;
  }
  .active ul li a {
    font-size: 1.4rem;
    color: darkslategray;
  }

  .nav-number {
    display: none;
  }
  .hamburger {
    display: block;
    margin-right: 10px;
  }
  .hamburger .ham-logo {
    font-size: 20px;
    cursor: pointer;
  }
  .nav-logo {
    cursor: pointer;
  }
}
