.courseContainer {
  width: 100%;
  height: 100vh;
  margin: auto;
}
.titleCourse {
  margin: 60px auto;
  max-width: 1280px;
}
.titleCourse h2 {
  color: darkslategray;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  /* margin: 40px; */
}
#dark .titleCourse h2 {
  color: rgb(255, 253, 240);
}
.line {
  margin: auto;
  width: 100px;
  height: 5px;
  background-color: salmon;
}
.courseBoxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}
@media screen and (max-width: 600px) {
  .titleCourse h2 {
    margin-top: 0;
  }
  .courseBoxes {
    display: block;
    margin-top: 0;
  }
  .courseContainer {
    height: 100%;
  }
}
/* courseBoxes style */

.courseBox {
  background-color: #f8f9fb;
  width: 360px;
  margin: auto;
  transition: 0.4s ease;
  cursor: pointer;
}
.courseBox:hover {
  transform: scale(1.05);
}
.boxItems {
  /* padding: 28px; */
  text-align: center;
}
.courseImg {
  /* width: 360px; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.boxItems h3 {
  color: darkslategray;
  letter-spacing: 0.5px;
  margin-top: 60px;
}
.boxItems p {
  color: gray;
  font-size: 14px;
  margin-top: 6px;
}
.personelBox {
  margin-top: 80px;
  background-color: rgb(228, 227, 227);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personelBox p {
  font-weight: 500;
  color: darkslategray;
}
.personelBox span {
  color: gray;
  font-size: 14px;
}

.personelBox h4 {
  background-color: salmon;
  padding: 18px;
  color: darkslategray;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.personalImg {
  border-radius: 50%;
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .courseBox {
    margin-bottom: 10px;
    width: 320px;
    margin-top: 40px;
  }
}
