.courseContainer {
  width: 100%;
  height: 100vh;
  margin: auto;
}
.titleCourse {
  margin: 60px auto;
  max-width: 1280px;
}
.titleCourse h2 {
  color: darkslategray;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  /* margin: 40px; */
}
.line {
  margin: auto;
  width: 100px;
  height: 5px;
  background-color: salmon;
}
.courseBoxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}
@media screen and (max-width: 600px) {
  .titleCourse h2 {
    margin-top: 0;
  }
  .courseBoxes {
    display: block;
    margin-top: 0;
  }
  .courseContainer {
    height: 100%;
  }
}
