.registerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.registerSection {
  background-color: salmon;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerContent {
  width: 55%;
  text-align: center;
}
.registerContent h2 {
  text-align: center;
  line-height: 1.4;
  color: antiquewhite;
}
.registerContent span {
  color: darkslategrey;
}
.registerContent p {
  color: antiquewhite;
  text-align: center;
  line-height: 1.6;
  margin-top: 20px;
}
.registerBtn {
  background-color: darkslategrey;
  color: antiquewhite;
  padding: 16px 48px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 1px;
  animation: vibrate-1 0.3s linear infinite both;
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
.searchCourse {
  background-color: antiquewhite;
  color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchSection {
  width: 55%;
}
.searchSection h2 {
  text-align: center;
}
.searchContent {
  margin-top: 40px;
}
input {
  display: block;
  font-size: 16px;
  color: gray;
  border: none;
  width: 100%;
  padding: 14px 16px;
  /* padding-left: 16px; */
  margin: 16px 0;
}
input:focus {
  outline: none;
}
.searchSection button {
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 16px;
  border: none;
  background-color: salmon;
  color: antiquewhite;
  cursor: pointer;
  transition: all 0.4s;
}
.searchSection button:hover {
  background-color: darkslategrey;
}
@media screen and (max-width: 600px) {
  .registerContainer {
    display: block;
  }

  .searchCourse {
    padding: 80px 0;
  }
}
