.stuContainer {
  width: 100%;
  position: relative;
  isolation: isolate;
  background: url('../../images/Course/Graduation.jpg') no-repeat center
    center/cover;
  isolation: isolate;
}
.stuContainer::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
}

.stuSection {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}
.stuSection h2 {
  color: antiquewhite;
  text-align: center;
  margin: 30px 0;
}
.stuContent {
  width: 40%;
  margin: auto;
  padding-bottom: 40px;
}
.stuIcon {
  font-size: 30px;
  color: salmon;
  text-align: center;
  margin: auto;
  width: 100%;
  margin-bottom: 15px;
}
.stuContent p {
  text-align: center;
  color: antiquewhite;
  line-height: 1.6;
}
.stuImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.stuImage img {
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.stuImage h3 {
  color: salmon;
  margin-top: 14px;
}
.stuImage h4 {
  color: antiquewhite;
}
@media screen and (max-width: 600px) {
  .stuContainer {
    height: 100%;
  }

  .stuContent {
    width: 70%;
  }
  .stuIcon {
    font-size: 18px;
  }
  .stuSection {
    padding-top: 40px;
  }

  .stuImage img {
    width: 64px;
    height: 64px;
  }
}
