.serviceContianer {
  margin-top: 60px;
}

.serviceSection {
  max-width: 1240px;
  margin: 60px auto;
}

.serviceSection h2 {
  text-align: center;
}
#dark .serviceSection h2 {
  color: antiquewhite;
}
.serviceContent {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .serviceContent {
    display: block;
    margin: 14px;
  }
}

/* ServiceBoxes style */

.serviceBoxes {
  padding: 8px;
  margin-top: 60px;
  cursor: pointer;
}
.serviceBoxes:hover {
  border: 1px solid #eee;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.serviceBoxes h3 {
  margin: 20px 0;
}
.serviceBoxes span {
  color: salmon;
  font-size: 48px;
}
#dark .serviceBoxes h3 {
  color: antiquewhite;
}
.serviceBoxes p {
  line-height: 1.6;
}
@media screen and (max-width: 600px) {
  .serviceBoxes span {
    font-size: 30px;
  }
}
