.serviceBoxes {
  padding: 8px;
  margin-top: 60px;
  cursor: pointer;
}
.serviceBoxes:hover {
  border: 1px solid #eee;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.serviceBoxes h3 {
  margin: 20px 0;
}
.serviceBoxes span {
  color: salmon;
  font-size: 48px;
}
.serviceBoxes p {
  line-height: 1.6;
}
@media screen and (max-width: 600px) {
  .serviceBoxes span {
    font-size: 30px;
  }
}
