.serviceContianer {
  margin-top: 60px;
}

.serviceSection {
  max-width: 1240px;
  margin: 60px auto;
}
.serviceSection h2 {
  text-align: center;
}
.serviceContent {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .serviceContent {
    display: block;
    margin: 14px;
  }
}
